
Locale Requirements:
1. search functionality:
- Generate and return API key for user authentication after user signing up. So users can see API key only once.
- Users can search for information (Return all metadata) about nigeria based on the categories:  region, state and local government area(LGAs).
- Users can search a region name to return all metadata about that region.✔️
- Users can search a state name to return all metadata about that state.✔️
- Users can search an LGA name to return all metadata about that LGA. ✔️

2. General APIs:
- Users should be able to get all regions. ✔️
- Users should be able to get all states. ✔️
- Users should be able to get all LGAs. ✔️


1. Region Model:
- id: string
- name: string
- states: array of states
- population: string
- description: string

2. State Model:
- id: string
- name: string
- capital: string
- region: string
- no_of_lgas: number
- local_gov_areas
- population: string
- description: string

3. LGA Model:
- id: string
- name: string
- state: string
- region: string
- postal code: string
- population: string
- description: string

4. User Model: 
- id: string
- firstname: string
- lastname: string
- email: string
- api_key: string
- created_at
